@font-face {
    font-family: 'Dahlia';
    src: url(/fonts/dahlia-regular.otf) format('opentype'), url(/fonts/dahlia-regular.woff) format('woff');
    font-family: 'Kobe1.1';
    src: url(/fonts/kobe-regular.ttf) format('truetype'), url(/fonts/kobe11-regular.woff) format('woff');
}
body {
    color: #FFF3EC;
    grid-template-areas: 
    'heroSection'
    'aboutMe';
}

h1 {
    font-family: 'Dahlia';
    font-size: 13.375rem;
    font-weight: 500;
    line-height: 0rem;
}
h5 {
    font-family: 'Kobe1.1';
    font-size: 2.8125rem;
    font-weight: 100;
    line-height: 120%;
    text-align: center;
}

/* Logo and Menu */
.logo {
    position: fixed;
    top: 5rem;
    left: 4.375rem;
}

.menu {
    position: fixed;
    top: 5rem;
    right: 5.625rem;
}

/* Hero Section */
.heroSection {
    grid-area: 'heroSection';
    background-color: #111111;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arch {
    background-color: #00199F;
    height: 100vh;
    width: 100vw;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 205px;
}

.heroContent {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.tab{
    width: 420px;
    height: 60px;
    background-color: #A7CAB3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* About Me Section */
.aboutMe{
    grid-area: 'aboutMe';
    background-color: #A7CAB3;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}